# vscode
.vscode/

# package directories
node_modules/
jspm_packages/

# Serverless directories
.serverless/
.dynamodb/

# esbuild directories
.esbuild/

# dotenv environment variables file
.env
.env.*

# volumes persistence
data/
